@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
// Colors
$base-color: #37474f;
$card-color: #263238;
$cyan-color: #62dafc;

.mid-white {
  color: #f4f4f4;
}
.cyan-color {
  color: $cyan-color;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $base-color;
  font-family: "Google Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

nav {
  padding: 0em 2em;
  background: $base-color;

  .brand-logo {
    font-family: "Righteous", cursive;
    color: $cyan-color;
  }

  .btn-flat {
    color: white !important;
    text-transform: none;
    border-radius: 7px;

    &:hover {
      background-color: #62dbfc1e !important;
    }
  }
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.banner-text {
  margin-top: 4em;
}

.btn {
  color: $base-color !important;
  background-color: $cyan-color !important;
  border-radius: 7px;
  text-transform: none;
  font-weight: bold;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

.share-btn {
  height: 3rem;
  width: 40%;
  line-height: 3;
  background-color: $base-color !important;
  color: $cyan-color !important;
  border: 1px solid $cyan-color;

  &:hover {
    background-color: $cyan-color !important;
    color: $base-color !important;
  }
}

.modal {
  background: $base-color;
  border-radius: 10px;
}

.card {
  .fix-img {
    width: 136px;
    height: 100px;
  }
  background-color: $card-color;
  border-radius: 10px;
  color: $cyan-color;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 20px 2px #89d2f7;
  }
}

.page-footer {
  background: $card-color;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .banner-text {
    margin-top: 1em;
  }
}
